@charset "UTF-8";
.add-zoomUnit {
  animation: zoomUnit 0.5s ease-in forwards; }

.add-zoomUnitFromZero {
  animation: zoomUnitFromZero 0.3s ease-in forwards; }

.add-rotateAndMoveRightUnit {
  animation: rotateAndMoveRightUnit 0.3s ease-in forwards; }

.add-moveFromTop {
  animation: moveFromTop 0.3s ease-in forwards; }

.add-moveFromBottom {
  animation: moveFromBottom 0.3s ease-in forwards; }

.add-moveFromRightToLeft {
  animation: moveFromRightToLeft 0.3s ease-in forwards; }

.add-moveFromLeftToRight {
  animation: moveFromLeftToRight 0.3s ease-in forwards; }

.add-moveFromRightToLeftDelay100 {
  animation: moveFromRightToLeft 0.3s 0.1s ease-in forwards; }

.add-moveFromRightToLeftDelay200 {
  animation: moveFromRightToLeft 0.3s 0.2s ease-in forwards; }

.add-moveFromRightToLeftDelay300 {
  animation: moveFromRightToLeft 0.3s 0.3s ease-in forwards; }

.add-moveFromRightToLeftDelay400 {
  animation: moveFromRightToLeft 0.3s 0.4s ease-in forwards; }

.add-leaveToTop {
  animation: leaveToTop 0.3s ease-in forwards; }

.add-leaveToBottom {
  animation: leaveToBottom 0.3s ease-in forwards; }

.add-leaveToRight {
  animation: leaveToRight 0.5s ease-in forwards; }

.add-leaveToLeft {
  animation: leaveToLeft 0.5s ease-in forwards; }

@keyframes zoomUnit {
  0% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes zoomUnitFromZero {
  0% {
    transform: translateY(-50%) scale3d(0, 0, 0); }
  100% {
    transform: translateY(-50%) scale3d(1, 1, 1);
    opacity: 1; } }
@keyframes rotateAndMoveRightUnit {
  0% {
    transform: translateY(-50%) translateX(0px) rotate(0deg);
    opacity: 1; }
  100% {
    transform: translateY(-50%) translateX(100px) rotate(250deg);
    opacity: 0; } }
@keyframes moveFromTop {
  0% {
    transform: translateY(-140px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes moveFromBottom {
  0% {
    transform: translateY(140px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes moveFromRightToLeft {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes moveFromLeftToRight {
  0% {
    transform: translateX(-100px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes leaveToRight {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(150px);
    opacity: 0; } }
@keyframes leaveToTop {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-140px);
    opacity: 0; } }
@keyframes leaveToBottom {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(140px);
    opacity: 0; } }
@keyframes leaveToLeft {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(-100px);
    opacity: 0; } }
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #999999; }

header {
  padding-top: 160px; }
  header .wrapper {
    width: 100%;
    height: 340px;
    padding: 0 130px; }
  header .slide {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.2); }
  header .icon-indicators {
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 10px; }
    header .icon-indicators ol {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none; }
      header .icon-indicators ol li {
        flex: 0 0 auto;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 8px;
        cursor: pointer;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        header .icon-indicators ol li:before {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          background-color: rgba(192, 192, 192, 0.2);
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        header .icon-indicators ol li.active {
          background-color: #333; }
          header .icon-indicators ol li.active:before {
            background-color: rgba(225, 225, 225, 0.4);
            transform: translate(-50%, -50%) scale(1); }
        header .icon-indicators ol li:hover {
          background-color: #333; }
          header .icon-indicators ol li:hover:before {
            background-color: rgba(225, 225, 225, 0.4);
            transform: translate(-50%, -50%) scale(1); }
  header .slide-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.4);
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    header .slide-control:hover {
      box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2); }
  header .slide-control-prev {
    left: 70px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    header .slide-control-prev:before {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      color: #fff;
      font-size: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    header .slide-control-prev:hover:before {
      text-shadow: 0px 3px 2px rgba(150, 150, 150, 0.4); }
  header .slide-control-next {
    right: 70px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    header .slide-control-next:before {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      color: #fff;
      font-size: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    header .slide-control-next:hover:before {
      text-shadow: 0px 3px 2px rgba(150, 150, 150, 0.4); }
  header .running-bar {
    width: 0;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: width linear;
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.3); }
  header .slide-items {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
  header .item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    header .item.active {
      visibility: visible;
      opacity: 1; }
  header .item:nth-child(1) {
    background-color: #3598db; }
  header .item:nth-child(2) {
    background-color: green; }
  header .item:nth-child(3) {
    background-color: pink; }
  header .item-bg {
    width: 100%;
    height: 100%; }
  header .slide-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  header .unit {
    opacity: 0;
    text-shadow: 0px 1px 4px #969696;
    color: #333; }
    header .unit::selection {
      background-color: transparent;
      background: transparent; }
    header .unit > p {
      margin-bottom: 5px; }
      header .unit > p::selection {
        background-color: transparent;
        background: transparent; }
  header .unit_0-0 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    box-shadow: 3px 9px 13px -6px rgba(0, 0, 0, 0.75); }
  header .unit_0-1 {
    font-size: 40px;
    position: absolute;
    top: 50px;
    left: 45%;
    right: initial;
    margin-left: -26px; }
  header .unit_0-2 {
    font-size: 18px;
    position: absolute;
    top: 110px;
    left: 45%;
    right: initial; }
    header .unit_0-2 .have-icon:before {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      color: #333;
      font-size: 18px;
      top: 0;
      left: -24px; }
  header .unit_0-3 {
    font-size: 18px;
    position: absolute;
    top: 140px;
    left: 45%;
    right: initial; }
    header .unit_0-3 .have-icon:before {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      color: #333;
      font-size: 18px;
      top: 0;
      left: -24px; }
  header .unit_0-4 {
    font-size: 18px;
    position: absolute;
    top: 170px;
    left: 45%;
    right: initial; }
    header .unit_0-4 .have-icon:before {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      color: #333;
      font-size: 18px;
      top: 0;
      left: -24px; }
  header .unit_0-5 {
    font-size: 18px;
    position: absolute;
    top: 200px;
    left: 45%;
    right: initial; }
    header .unit_0-5 .have-icon:before {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      color: #333;
      font-size: 18px;
      top: 0;
      left: -24px; }
  header .unit_0-6 {
    font-size: 18px;
    position: absolute;
    top: 230px;
    left: 45%;
    right: initial; }
    header .unit_0-6 .have-icon:before {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      color: #333;
      font-size: 18px;
      top: 0;
      left: -24px; }
  header .unit_1-0 {
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 5%;
    right: initial; }
  header .unit_1-1 {
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 52%;
    right: initial; }
  header .unit_1-2 {
    width: 330px;
    position: absolute;
    top: 80px;
    left: 5%;
    right: initial; }
  header .unit_1-3 {
    width: 360px;
    position: absolute;
    top: 80px;
    left: 52%;
    right: initial; }
  header .unit_2-0 {
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 5%;
    right: initial; }
  header .unit_2-1 {
    width: 90%;
    position: absolute;
    top: 80px;
    left: 5%;
    right: initial; }
  header .unit_3-0 {
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 5%;
    right: initial; }
  header .unit_3-1 {
    position: absolute;
    top: 80px;
    left: 5%;
    right: initial; }
  header .unit_3-2 {
    position: absolute;
    top: 80px;
    left: 55%;
    right: initial; }
  header .unit_4-0 {
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 5%;
    right: initial; }
  header .unit_4-1 {
    position: absolute;
    top: 80px;
    left: 5%;
    right: initial; }
  header .unit_4-2 {
    font-size: 35px;
    position: absolute;
    top: 130px;
    left: 5%;
    right: initial; }
  header .unit_4-3 {
    position: absolute;
    top: 180px;
    left: 5%;
    right: initial;
    width: 90%; }

.ui-loader {
  display: none; }

@media (min-width: 992px) and (max-width: 1199px) {
  header .unit_0-0 {
    left: 3%; }
  header .unit_0-1 {
    font-size: 30px;
    left: 40%;
    top: 65px; }
  header .unit_0-2, header .unit_0-3, header .unit_0-4, header .unit_0-5, header .unit_0-6 {
    font-size: 16px;
    left: 40%;
    width: 60%; }
  header .unit_1-2 {
    width: 40%; }
  header .unit_1-3 {
    width: 40%; }
  header .unit_2-1 {
    width: 90%;
    font-size: 14px; }
  header .unit_3-1, header .unit_3-2 {
    width: 35%; } }
@media (min-width: 768px) and (max-width: 991px) {
  header .slide-control-prev, header .slide-control-next {
    display: none;
    margin-left: 0px; } }
@media (max-width: 991px) {
  header .wrapper {
    padding: 0px; }
  header .slide-control-prev {
    left: -50px; }
  header .slide-control-next {
    right: -50px; }
  header .unit_0-0 {
    left: 5%; }
  header .unit_0-1 {
    font-size: 30px; }
  header .unit_0-2, header .unit_0-3, header .unit_0-4, header .unit_0-5, header .unit_0-6 {
    font-size: 16px; }
  header .unit_1-0, header .unit_1-1 {
    font-size: 30px;
    top: 20px; }
  header .unit_1-2, header .unit_1-3 {
    width: 40%;
    top: 65px; }
  header .unit_2-0 {
    font-size: 30px;
    top: 20px; }
  header .unit_2-1 {
    width: 90%;
    top: 65px;
    font-size: 14px; }
  header .unit_3-0 {
    font-size: 30px;
    top: 20px; }
  header .unit_3-1, header .unit_3-2 {
    top: 65px;
    width: 35%; }
  header .unit_4-0 {
    font-size: 30px;
    top: 20px; }
  header .unit_4-1 {
    top: 65px; }
  header .unit_4-2 {
    font-size: 30px;
    top: 115px; }
  header .unit_4-3 {
    top: 165px;
    width: 90%; } }
@media (max-width: 767px) {
  header .slide-control-prev, header .slide-control-next {
    display: none;
    margin-left: 0px; }
  header .unit_0-0 {
    left: 5%;
    width: 160px;
    height: 160px; }
  header .unit_0-1 {
    font-size: 25px;
    top: 69px; }
  header .unit_1-0, header .unit_1-1 {
    font-size: 25px; }
  header .unit_1-2, header .unit_1-3 {
    width: 45%;
    top: 65px; }
  header .unit_2-0 {
    font-size: 25px;
    top: 20px; }
  header .unit_2-1 {
    width: 90%;
    top: 54px;
    font-size: 15px; }
  header .unit_3-0 {
    font-size: 25px; }
  header .unit_4-0, header .unit_4-2 {
    font-size: 25px; } }
@media (max-width: 575px) {
  header {
    padding-top: 40px; }
    header .wrapper {
      height: 360px; }
    header .unit_0-0 {
      left: 35%;
      transform: translateX(-50%) translateY(0);
      top: 68px;
      width: 110px;
      height: 110px; }
    header .unit_0-1 {
      font-size: 20px;
      top: 135px;
      left: 20px;
      margin-left: 0px; }
    header .unit_0-2, header .unit_0-3, header .unit_0-4, header .unit_0-5, header .unit_0-6 {
      font-size: 14px;
      left: 45px; }
      header .unit_0-2 .have-icon:before, header .unit_0-3 .have-icon:before, header .unit_0-4 .have-icon:before, header .unit_0-5 .have-icon:before, header .unit_0-6 .have-icon:before {
        font-size: 14px; }
    header .unit_0-2 {
      top: 170px; }
    header .unit_0-3 {
      top: 200px; }
    header .unit_0-4 {
      top: 230px; }
    header .unit_0-5 {
      top: 260px; }
    header .unit_0-6 {
      top: 290px; }
    header .unit_1-0, header .unit_1-1 {
      font-size: 18px;
      top: 15px; }
    header .unit_1-2, header .unit_1-3 {
      width: 45%;
      top: 40px;
      font-size: 13px; }
    header .unit_2-0 {
      font-size: 18px;
      top: 15px; }
    header .unit_2-1 {
      width: 100%;
      top: 40px;
      font-size: 13px;
      padding-right: 22px; }
    header .unit_3-0 {
      font-size: 18px;
      top: 15px; }
    header .unit_3-1, header .unit_3-2 {
      top: 40px;
      width: 43%;
      font-size: 13px; }
    header .unit_4-0 {
      font-size: 18px;
      top: 15px; }
    header .unit_4-1 {
      top: 45px;
      font-size: 14px; }
    header .unit_4-2 {
      font-size: 18px;
      top: 100px; }
    header .unit_4-3 {
      top: 130px;
      font-size: 14px; } }

/*# sourceMappingURL=main.css.map */
