
.add-zoomUnit {
	animation: zoomUnit 0.5s ease-in forwards;
}
.add-zoomUnitFromZero {
	animation: zoomUnitFromZero 0.3s ease-in forwards;
}
.add-rotateAndMoveRightUnit {
	animation: rotateAndMoveRightUnit 0.3s ease-in forwards;
}
.add-moveFromTop {
	animation: moveFromTop 0.3s ease-in forwards;
}
.add-moveFromBottom {
	animation: moveFromBottom 0.3s ease-in forwards;
}
.add-moveFromRightToLeft {
	animation: moveFromRightToLeft 0.3s ease-in forwards;
}
.add-moveFromLeftToRight {
	animation: moveFromLeftToRight 0.3s ease-in forwards;
}
.add-moveFromRightToLeftDelay100 {
	animation: moveFromRightToLeft 0.3s 0.1s ease-in forwards;
}
.add-moveFromRightToLeftDelay200 {
	animation: moveFromRightToLeft 0.3s 0.2s ease-in forwards;
}
.add-moveFromRightToLeftDelay300 {
	animation: moveFromRightToLeft 0.3s 0.3s ease-in forwards;
}
.add-moveFromRightToLeftDelay400 {
	animation: moveFromRightToLeft 0.3s 0.4s ease-in forwards;
}
.add-leaveToTop {
	animation: leaveToTop 0.3s ease-in forwards;
}
.add-leaveToBottom {
	animation: leaveToBottom 0.3s ease-in forwards;
}
.add-leaveToRight {
	animation: leaveToRight 0.5s ease-in forwards;
}
.add-leaveToLeft {
	animation: leaveToLeft 0.5s ease-in forwards;
}
.add-fade {
	animation: fade 0.5s ease-in forwards;
}

@keyframes zoomUnit {
	0% { transform: scale(1.1)}
	100% { transform: scale(1) }
}

@keyframes zoomUnitFromZero {
	0% { transform: translateY(-50%) scale3d(0,0,0)  }
	100% { transform: translateY(-50%) scale3d(1,1,1); opacity: 1 }
}

@keyframes rotateAndMoveRightUnit {
	0% { transform: translateY(-50%) translateX(0px) rotate(0deg); opacity: 1 }
	100% { transform: translateY(-50%) translateX(100px) rotate(250deg); opacity: 0}
}

@keyframes fade {
	0% { transform: translateY(-50%) translateX(0); opacity: 1 }
	100% { transform: translateY(-50%) translateX(0); opacity: 0}
}

@keyframes moveFromTop {
	0% { transform: translateY(-140px); }
	100% { transform: translateY(0); opacity: 1 }
}
@keyframes moveFromBottom {
	0% { transform: translateY(140px); }
	100% { transform: translateY(0); opacity: 1 }
}
@keyframes moveFromRightToLeft {
	0% { transform: translateX(100px) }
	100% { transform: translateX(0); opacity: 1 }
}
@keyframes moveFromLeftToRight {
	0% { transform: translateX(-100px) }
	100% { transform: translateX(0); opacity: 1 }
}

@keyframes leaveToRight {
	0% { transform: translateX(0); opacity: 1 }
	100% { transform: translateX(150px); opacity: 0 }
}
@keyframes leaveToTop {
	0% { transform: translateY(0); opacity: 1 }
	100% { transform: translateY(-140px); opacity: 0 }
}
@keyframes leaveToBottom {
	0% { transform: translateY(0); opacity: 1 }
	100% { transform: translateY(140px); opacity: 0 }
}
@keyframes leaveToLeft {
	0% { transform: translateX(0); opacity: 1 }
	100% { transform: translateX(-100px); opacity: 0 }
}
