@media (min-width: 992px) and (max-width: 1199px) { 
	header{
		.unit_0-0{
			left: 3%;
		}
		.unit_0-1{
			font-size: 30px;
			left: 40%;
			top: 65px;
		}
		.unit_0-2,.unit_0-3,.unit_0-4,.unit_0-5,.unit_0-6{
			font-size: 16px;
			left: 40%;
			width: 60%;
		}
		
		.unit_1-2{
			width: 40%;
		}
		.unit_1-3{
			width: 40%;
		}

		.unit_2-1{
			width: 90%;
			font-size: 14px;
		}
		.unit_3-1,.unit_3-2{
			width: 35%;
		}
	}	
}